@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/**responsive*/

.companies_News_container h3{
    color: #000;

    /* Heading/H3: Bold */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.companies_News_container p{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    
    /* Body/Subtitle 1: Regular */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 906px;
    margin-top: -10px;
}
@media screen and (min-width:600px){
    .companies_News_container h3{
        font-size: 2.5vw;
    }
    .companies_News_container p{
        font-size: 1.3vw;
        width: 65vw;
        margin-top: -2px;
    }
}


.companies_News_container{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:600px){
    .companies_News_container{
        margin-top: 4vw;
    }
}

.News_component_container{
    display: flex;
    gap:25px;
}
@media screen and (min-width:600px){
    .News_component_container{
        gap:2vw;
        margin-bottom: 5vw;
    }
}






