.btn{
    background: var(--primary-02, #1F42FF);
    width: 175px;
    height: 48px;
    
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08vw;
}
@media screen and (min-width:600px){
    .btn{
        width:11vw;
        height: 3vw;
        font-size:1vw;
    }
}