@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/**responsive*/

.static{
    margin-top: 75px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
   
}

.static > h1{
    color: #FFF;
    text-align: center;
    /* Heading/H2: Bold */
    font-family: Roboto;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.static > p{
    color: #FFF;
    text-align: center;

    /* Body/Subtitle 1: Regular */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 150px;
    padding-right: 150px;
}

@media screen and (min-width:600px)
{
    .static{
        margin-top: 10vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .static > h1{
        font-size: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .static>  p{
        font-size: 1.2vw;
        padding-left: 10vw;
        padding-right: 10vw;
        margin-top: 1vw;
    }
}

.buttons_container{
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
@media screen and (min-width:600px){
    .buttons_container{
        margin-top:2.5vw;
        gap:1.5vw;
    }
}

.container{
    background: linear-gradient(0deg, #1F42FF00,#494f72dd),url('/hero 3.svg');
    width: 100vw;
    background-size: 100vw;
    padding-bottom: 10vw;
    padding-top: 1vw;
    background-position:start;
}